@model MVCTest.Models.User
@{ ViewBag.Title = "Show_Common"; }

<h2>Show_Common</h2>

<form action="/User/Modify" method="POST">
    <table>
        <thead>
            <tr>
                <td>现用户号</td>
                <td>新用户号</td>
                <td>现用户名</td>
                <td>新用户名</td>
                <td>现密码</td>
                <td>新密码</td>
                <td>操作</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>@Model.id<input type="number" name="id" id="id" value="@Model.id" hidden></td>
                <td><input type="text" name="new_id" id="new_id"></td>
                <td>@Model.username<input type="text" name="username" id="username" value="@Model.username" hidden></td>
                <td><input type="text" name="new_username" id="new_username"></td>
                <td>@Model.password<input type="text" name="password" id="password" value="@Model.password" hidden></td>
                <td><input type="text" name="new_password" id="new_password"></td>
                <td><input type="submit" value="提交"></td>
            </tr>
        </tbody>
    </table>
</form>
