
@{ ViewBag.Title = "ShowInfo"; }

<h2>ShowInfo</h2>

<p>@ViewBag.phone;</p>
<p>@ViewBag.password;</p>
<p>@ViewBag.mailbox ;</p>
<p>@ViewBag.verifycode;</p>
<p>@ViewBag.sex;</p>
<p>@ViewBag.birthday;</p>
<p>@ViewBag.age;</p>
<p>@ViewBag.nativeplace;</p>
<p>@ViewBag.city;</p>
<p>@ViewBag.education;</p>
<p>@ViewBag.money;</p>
<p>爱好：@ViewBag.hobbys</p>
<p>@ViewBag.resume;</p>
