@model GuestBookSystem.Models.Guestbook
<h2>留下你想说的话</h2>
<form action="/GuestBook/Create" method="post">
    <p>
        留言人邮箱：
        @Html.TextBoxFor(g => g.AuthorEmail)
        @Html.ValidationMessageFor(g => g.AuthorEmail)
    </p>
    <p>
        标题：
        @Html.TextBoxFor(g => g.Title)
        @Html.ValidationMessageFor(g => g.Title)
    </p>
    <p>
        内容：
        @Html.TextAreaFor(g => g.Content, new { cols = 20, rows = 5 })
        @Html.ValidationMessageFor(g => g.Content)
    </p>
    <input type="submit" value="发布" />
</form>
@section scripts{
    <script src="/Scripts/jquery.validate.js"></script>
    <script src="/Scripts/jquery.validate.unobtrusive.js"></script>
    <script>
        window.onload = function () { document.getElementById("Content").innerHTML = "留言内容"; }
    </script>
}
