@model GuestBookSystem.Models.Guestbook
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.NAME 后台</title>
    <link rel="stylesheet" href="~/Content/user-allwords.css">
</head>
<body>
    <div class="title">
        <div class="welcome">
            欢迎 @ViewBag.NAME !
        </div>
    </div>
    <div class="main clearfix">
        <div class="left">
            <ul>
                <li>@Html.ActionLink("所有留言", "AllWords")</li>
                <li>@Html.ActionLink("我的留言", "MyWords")</li>
                <li>@Html.ActionLink("添加留言", "CreateWords", new { }, new { @class = "active" })</li>
                <li>@Html.ActionLink("登出", "Logout", "Account")</li>
            </ul>
        </div>
        <div class="right">
            <form action="/User/CreateWords" method="post">
                <table class="second">
                    <tr>
                        <td>标题：</td>
                        <td>@Html.TextBoxFor(g => g.Title, new { @autocomplete = "off", autofocus="autofocus"})</td>
                    </tr>
                    <tr>
                        <td>内容：</td>
                        <td>@Html.TextAreaFor(g => g.Content, new { cols = 50, rows = 10 })</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="button"><input type="submit" value="发布" /></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <span hidden id="hidden">@Html.ValidationSummary()</span>
</body>

<script>
    console.log("Hello")
    var hidden = document.getElementById("hidden")
    var li = hidden.getElementsByTagName("li")
    var info = ""
    for (let i = 0; i < li.length; ++i) {
        info += li[i].innerHTML + "\n";
    }
    console.log(info)
    if (info.length > 5) {
        alert(info)
    }
</script>

</html>
